<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello World! <%= title %></p>
    <p>Đây là commit ở clone</p>
    <p>Chỉnh sửa 1 lần nữa</p>
    <p>Đây là lần sửa ở branch mới NguyenXuanTien</p>
    <p>Sửa file bất kỳ</p>
    <p>Conflict 1</p>
  </body>
</html>
